<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>loop</title>
</head>

<body style="text-align: center">
  <h1>Enter the auth code sent to your mail:</h1>
  <form method="post" action = <%= action %> >
    <input type="text" name="authCode" />
    <button type="submit">Submit</button>
  </form>
</body>

</html>
