<body class="deletedBody">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    <h1>Deleted!</h1>
    <a href="/">Click here <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
</body>
