<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>loop</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">
  <link href="/css/query.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="side">
    <div class="sideBar">
      <h1>Query</h1>
    </div>
    <button class="sideBarButton"><span>▶</span></button>
  </div>
  <div class="queryPost">
    <div class="queNans">
      <div class="que">
        What is the loudest sound on earth?
        <div class="postedBy">
          <img class="avatar" src="/images/avatars/1.png" />
          <div class="userData">
            <p>Username</p>
            <p>MailID</p>
          </div>
        </div>
        <button class="follow" title="Save Post">+</button>
      </div>
      <div class="answers">
        <div class="answer">
          <p>
            Good question.

            Some may answer “an eruption”, some may say “a bomb”, and the like. They all sound reasonable (no pun intended).

            However, I do have a slightly different idea about loud sounds and corresponding sound makers. It goes with this rank:
          </p>
          <div class="postedBy">
            <img class="avatar" src="/images/avatars/6.png" />
            <div class="userData">
              <p>Username</p>
              <p>MailID</p>
            </div>
          </div>
        </div>
        <div class="answer">
          <p>
            Good question.

            Some may answer “an eruption”, some may say “a bomb”, and the like. They all sound reasonable (no pun intended).

            However, I do have a slightly different idea about loud sounds and corresponding sound makers. It goes with this rank:
          </p>
          <div class="postedBy">
            <img class="avatar" src="/images/avatars/6.png" />
            <div class="userData">
              <p>Username</p>
              <p>MailID</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <h1>Comments</h1>
    </div>
  </div>

  <script ty(pe="text/javascript">
      document.querySelector(".sideBarButton").addEventListener("click",function(){
              document.querySelector(".sideBar").classList.toggle("click");
              var btn = document.querySelector(".sideBarButton");
              btn.classList.toggle("click");
              console.log(btn.innerHTML);
              if(btn.innerHTML == "<span>▶</span>") btn.innerHTML = "<span>◀</span>"
              else btn.innerHTML = "<span>▶</span>"
      });
  </script>
</body>

</html>
