<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width" />
    <title>loop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link href="/css/signUp.css" type="text/css" rel="stylesheet" />
    <link href="/images/icon.png" rel="icon"/>
  </head>
  <body>
       <div class="signUpInner">
         <div class="title">
           <h1>loop</h1>
           <h2>Create an account</h2>
         </div>
         <div class="newAccount">
           <h1 class="msg"> <%= message %> </h1>
            <form method="post" action="/signUp">
              <input type="text" placeholder="First Name..." name="firstName" required /><br />
              <input type="text" placeholder="Last Name..." name="lastName" required /><br />
              <input type="text" placeholder="User Name..." name="userName" required /><br />
              <input type="email" placeholder="Institute MailID..." name="email" required /><br />
              <input type="password" placeholder="Set a password..." name="password" required /><br />
              <input type="password" placeholder="Re-enter password..." name="rePassword" required /><br />
              <button>Create new account!</button>
            </form>
         </div>
       </div>
       <div class="pat">
         <% for(var i = 0; i < 10; i++){ %>
             <div class="circle"></div>
         <% } %>
       </div>
  </body>
</html>
