html,body{
   margin: 0;
   padding: 0;
   color: white;
   overflow-x: hidden;
}

 .loader{
  z-index: -4;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 3s;
  }

.loader div{
    border-radius: 100%;
    position: absolute;
    transition: all 0.1s;
}

.one{
    width: 200px;
    height: 200px;
    background-color: #ff4500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    color: white;
    z-index: 1;
    background-image: url("/images/loader4.png");
}

.two{
  z-index: -1;
  width: 200px;
  height: 200px;
  background-color: #ff4f00;
  background-image: url("/images/loader5.png");
}

.three{
  z-index: -2;
  width: 200px;
  height: 200px;
  background-color: #e86100;
}

.four{
  z-index: -3;
  width: 200px;
  height: 200px;
  background-color: #f77f00;
}

.five{
  z-index: -4;
  width: 200px;
  height: 200px;
  background-color: #ff9933;
}

.twoDis{
  width: 350px;
  height: 350px;
}

.threeDis{
  width: 760px;
  height: 760px;
}

.fourDis{
  width: 1200px;
  height: 1200px;
}

.fiveDis{
  width: 200vw;
  height: 200vw;
}

.main{
  display: none;
  z-index: -5;
}

::selection{
  background-color: #9A0680;
}

.loop{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom,#E900FF,#79018C,#4C0070);
}

.sub{
  font-size: 1.9rem;
  margin: 0;
  font-family: 'Supermercado One', cursive;
}

h1{
  font-size: 7rem;
  font-family: 'Comfortaa';
  margin: 0;
}

.query, .projects, .blogs{
  width: 100vw;
  height: 70vh;
  display: flex;
}

.query{
    background-image: linear-gradient(to right,#2FA4FF,#008E89,#0E185F);
    transform-style: preserve-3d;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.descrp{
  /* position: absolute; */
  font-size: 2rem;
  opacity: 0.7;
  font-family: 'Syne Mono', monospace;
  transform: translateZ(0);
  position: relative;
  left: -40px;
}

.queryTitle{
  margin-left: 2%;
}

.descrp a{
  text-decoration: none;
  border-radius: 20px;
  background-color: white;
  padding: 3px 10px;
  position: relative;
  color: #008E89;
  top: 20px;
  transition: all 0.7s;
  font-family: fantasy;
}

.descrp a:hover{
  background-color: #008E89;
  color: white;
  border: 1px solid white;
}

.projects{
  background-image: linear-gradient(to right,#FFD32D,#F0A500,#D29D2B);
}

.blogs{
  background-image: linear-gradient(to left,#00C897,#019267,#064635);
}

.end{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle,#FFD32D,#F1D00A,#FFC900);
}

.endSign{
  height: 100vh;
}

.signDiv{
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* scroll bar */

::-webkit-scrollbar{
  width: 10px;
  background-color: #BC8CF2;
}

::-webkit-scrollbar-thumb{
   background: linear-gradient(to bottom,#203239,#141E27);
   border-radius: 5px;
}
