html,body{
     padding: 0;
     margin: 0;
}

body{
  background-color: #B762C1;
  overflow-x: hidden;
}

.upper{
  position: absolute;
  width: 100vw;
  height: 25vh;
  background-color: #EA99D5;
}

.container{
  width: 100vw;
  position: relative;
  top: 25vh;
  scroll-behavior: smooth;
}

.profile{
  background-color: #8946A6;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(25vh - 85px);
  left: calc(50vw - 85px);
  z-index: 1;
}

.profile img{
  width: 150px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(25vh + 120px);
  width: 100vw;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
}

.details p{
  margin: 0;
}

.back{
  position: absolute;
  font-size: 2.5rem;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
}

.back:hover{
  font-size: 3rem;
  filter: drop-shadow(10px 10px 10px grey);
}

.nav{
  position: absolute;
  width: 470px; /* 390px */
  height: 60px;
  background-color: white;
  border-radius: 10px;
  top: 260px;
  left: calc(50vw - 235px);
  color: #8946A6;
  font-size: 2.5rem;
}

.nav i{
  cursor: pointer;
  position: relative;
  top: 7px;
}

.nav i::after{
  content: "";
  height: 3px;
  background-color: #8946A6;
  position: absolute;
  bottom: -5px;
  left: -2.5px;
  border-radius: 5px;
  transition: all 1s;
}

.active::after{
  width: 120%;
}


.nav i:hover{
   color: #A63EC5;
}

.nav i:nth-child(1){
  left: 30px;
}

.nav i:nth-child(2){
  left: 90px;
}

.nav i:nth-child(3){
  left: 140px;
}

.nav i:nth-child(4){
  left: 180px;
}

.nav i:nth-child(5){
  left: 220px;
}

.content{
  position: absolute;
  top: 340px;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.queries, .answers, .user{
  width: 80vw;
  border-radius: 5px;
  display: none;
  margin-bottom: 40px;
}

.follow{
  font-size: 1.2rem;
  display: flex;
}

.follow p:nth-child(1){
  margin-right: 20px;
}

.followees, .followers{
  position: relative;
  left: 20vw;
  width: 40vw;
  min-height: 20vh;
  border-radius: 5px;
  display: none;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.fa-user-times{
  font-size: 2rem;
}

.queries div{
  border-radius: 5px;
  font-size: 1.5rem;
  border: 2px solid black;
  font-family: 'Oxygen', sans-serif;
  padding: 10px;
  background-color: #FBD6D2;
  color: #1A132F;
  white-space: pre-wrap;
}

.queries div:hover{
  background-color: #F3E9DD;
  cursor: pointer;
}

.query{
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: #F3E9DD;
  left: 10vw;
  top: 10vh;
  position: fixed;
}

.hide{
  display: none;
}

.query i{
  font-size: 2.3rem;
  color: #051367;
  margin: 5px 0 0 5px;
  cursor: pointer;
}

.display{
  display: flex;
  flex-direction: column;
}

/* queries */

.questio{
  white-space: pre-wrap;
  text-align: left;
}

.avatar{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.userData{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 50px;
  justify-content: center;
}

.answer{
  display: flex;
  flex-direction: column;
  background-color: #FAD9E6;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  color: #2C2E43;
  font-size: 2rem;
  font-family: 'Genos',sans-serif;
}

.ans{
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: visible;
}

.user{
  /* background-color: #FFC7C7; */
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  padding-top: 20px;
}

.empty{
   display: flex;
   justify-content: center;
   align-items: center;
}

.detail{
  padding-top: 40px;
  font-size: 1.5rem;
  font-family: 'Genos',sans-serif;
  display: flex;
  flex-direction: column;
}

.detail span{
  background-color: #DADBBD;
  border-radius: 5px;
  box-shadow: 10px 10px 40px #8946A6;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #151D3B;
}

.userName{
  justify-content: center;
  display: flex;
  box-shadow: 0 10px 10px #8946A6;
}

.userName input, .userName button{
  border: 0;
  font-size: 1.5rem;
  font-family: 'Genos', sans-serif;
}

.userName input{
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
}

.userName input:focus{
  background-color: #CFD3CE;
}

.userName button{
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #D8D2CB;
  transition: background 1s;
}

.avatars{
    background-color: #DFDFDE;
    border-radius: 5px;
    position: absolute;
    left: calc(50vw - 150px);
    top: calc(50vh - 188px);
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    box-shadow: 10px 20px 20px #A63EC5;
    position: fixed;
}

.show{
  display: grid;
  z-index: 1;
}

.image{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid white;
  margin: 10px;
  background-color: white;
}
.avatars img{
  width: 70px;
  cursor: pointer;
}

.changeAvatar{
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-family: 'Genos', sans-serif;
  padding-top: 5px;
  box-shadow: 0 10px 10px #8946A6;
}

.changeAvatar button{
  font-size: 2rem;
  border-radius: 0 5px 5px 0;
  border: 0;
  cursor: pointer;
  background-color: #D8D2CB;
  transition: all 1s;
}


.changeAvatar span{
  background-color: white;
  border-radius: 5px 0 0 5px;
  padding: 0 5px;
  width: 300px;
  padding-left: 40px;
  display: inline-block;
  text-align: center;
}

.delete{
  width: 300px;
  font-size: 2rem;
  border-radius: 5px;
  margin-top: 10px;
  border: 0;
  font-family: 'Genos', sans-serif;
  box-shadow: 0 10px 10px #8946A6;
  cursor: pointer;
  transition: all 1s;
  background-color: #D8D2CB;
}

.delete:hover, .changeAvatar button:hover, .userName button:hover{
  background-color: #203239;
  color: #D8D2CB;
}

.deleteAccount{
  z-index: 1;
  width: 500px;
  height: 300px;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: calc(50vw - 250px);
  top: calc(50vh - 150px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: 'Padauk', sans-serif;
  box-shadow: 10px 10px 20px #2B2B2B;
}

.openDelete{
  display: flex;
}

.close{
  font-size: 2rem;
  position: absolute;
  border: 0;
  background: white;
  right: 0;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
}

.pass{
  text-align: center;
  font-size: 1.5rem;
}

.deleteAccount input{
  border: 0;
  width: 250px;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

.deleteAccount input:focus{
   outline: none;
   border-bottom: 2.5px solid black;
}

.buttons{
  margin-top: 20px;
  display: flex;
}

.buttons button{
  font-size: 1rem;
  border: 0;
  color: white;
  background-color: #04293A;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  transition: all 0.7s;
  border: 2px solid #04293A;
}

.buttons button:hover{
  color: #041C32;
  background-color: white;
}

.buttons button:nth-child(1){
  border-radius: 5px 0 0 5px;
  margin-right: 2px;
}

.buttons button:nth-child(2){
  border-radius: 0 5px 5px 0;
}

.deletedBody{
   width: 100vw;
   height: 100vh;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
}

.deletedBody i{
  font-size: 4rem;
}

.deletedBody h1{
  font-size: 2.5rem;
}

.deletedBody a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.deletedBody a i{
  font-size: 1.5rem;
}

.present{
  border: 2px solid black;
}

.usersFollowing{
  font-size: 1.5rem;
  border-radius: 5px;
  background-image: linear-gradient(to right,white,#DAE5D0,#DDDDDD);
  padding: 2px 0;
  width: 370px;
  text-align: center;
  margin: 5px 0;
  font-family: 'Nunito',sans-serif;
}

@media only screen and (max-width: 530px){
       .nav{
          width: 350px;
          left: calc(50vw - 175px);
          font-size: 1.7rem;
          height: 50px;
       }

       .nav i:nth-child(1){
         left: 20px;
       }

       .nav i:nth-child(2){
         left: 60px;
       }

       .nav i:nth-child(3){
         left: 100px;
       }

       .nav i:nth-child(4){
         left: 140px;
       }

       .nav i:nth-child(5){
         left: 180px;
       }

       .usersFollowing{
         font-size: 1.2rem;
         width: 320px;
       }
}

/* scroll bar */
::-webkit-scrollbar{
  width: 5px;
  background-color: #BC8CF2;
}

::-webkit-scrollbar-thumb{
   background: linear-gradient(to bottom,#203239,#141E27);
   border-radius: 5px;
   cursor: pointer;
}
