
*{
  padding: 0;
  margin: 0;
}

body{
  /* background-image: linear-gradient(to top,#FFCDDD,#EA99D5,#B762C1,#8946A6); */
  background: #EA99D5;
  width: 100%;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

.question{
  white-space: pre-wrap;
  text-align: left;
}

.hiddenInput{
  display: none;
}

.posts{
  display: flex;
  flex-direction: column;
}

.queryPost{
  display: flex;
  flex-direction: column;
  width: calc(55vw + 250px);
  margin: 50px 0 0 320px;
  box-shadow: 10px 10px 30px #4C0070;
  overflow-x: hidden;
}

.queryPost:last-child{
  margin-bottom: 50px;
}

.que{
  position: relative;
  width: 55vw;
  background-image: linear-gradient(to bottom,#FFCDDD,#EA99D5);
  color: #79018C;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 10px;
}

.follow{
  background-color: #79018C;
  border-width: 0;
  font-size: 2rem;
  padding: 0 9px;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
}

.follow.saved{
  background: white;
}

.answerQuery{
  display: inline-block;
  font-size: 1.4rem;
  border: 1px solid #8946A6;
  border-radius: 5px;
  padding: 5px 0;
  background-color: #FFCDDD;
  width: 45vw;
  color: #8946A6;
  cursor: pointer;
  text-decoration: none;
}

.answerQuery:hover{
  background-color: #FFBDE6;
  text-decoration: underline;
}

.postedBy{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.avatar{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.userData{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 50px;
  justify-content: center;
}

.answers{
  background-color: #8946A6;
  color: #FFCDDD;
  width: 55vw;
  font-size: 1.4rem;
  text-align: left;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

.answers .postedBy{
  position: relative;
}

.likep{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likep i{
  font-size: 2rem;
  margin-left: 10px;
  cursor: pointer;
}

.unliked{
  color: #8946A6;
  filter: drop-shadow(2px 2px 1px white);
}

.liked{
  color: white;
  filter: none;
}

.like{
  color: white;
  filter: none;
}

.queryPost{
  display: flex;
  flex-direction: row;
}

.comments{
  background-color: #FFCDDD;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  color: #524A4E;
}



.answer::after{
  content: "";
  display: inline-block;
  background-color: #FFBDE6;
  width: 100%;
  height: 2px;
  border-radius: 10px;
}

.answer:last-child::after{
  width: 0;
}

.answer p{
  white-space: pre-wrap;
}

.hide{
  display: none;
}

.newPost,.newAnswer{
  position: absolute;
  width: 0;
  height: 0;
  background-image: linear-gradient(to top,#FFDDEE,#FFBDE6);
  z-index: 2;
  left: 10vw;
  top: 10vh;
  transition: all 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

textarea{
  resize: none;
  white-space: pre-wrap;  /* to treat white spaces and line breaks as entered by the user */
  padding: 5px 10px;
}

.textNewPost,.textNewAnswer{
  width: 70vw;
  height: 60vh;
  background-color: #F3E9DD;
  font-size: 1rem;
  color: #8946A6;
}

.newPost button, .newAnswer button{
  font-size: 1.2rem;
  color: grey;
  padding: 5px 20px;
  border: 3px solid grey;
  background: #F3E9DD;
  position: absolute;
  left: 80px;
  bottom: 20px;
  cursor: pointer;
}

.open{
  width: 80vw;
  height: 80vh;
  border: 1px solid white;
}

.close span{
       width: 40px;
       height: 5px;
       border-radius: 10px;
       background-color: #534340;
       z-index: 2;
       display: block;
       right: 5px;
       top: 20px;
       position: absolute;
       transition: all 0.5s;
}
.close{
  cursor: pointer;
}

.close span:nth-child(1){
     transform: rotate(45deg);
}

.close span:nth-child(2){
     transform: rotate(-45deg);
}

@media only screen and (max-width: 1300px){
       .sideBar{
         left: -100%;
         z-index: 1 !important;
       }

       .sideBarButton{
         left: 0;
         display: inline-block;
         position: fixed;
       }

       .queryPost{
          margin-left: 50px;
       }
       .sideBar.click{
         left: 0;
       }
}

@media only screen and (max-width: 771px){
       .queryPost{
         flex-direction: column;
         width: calc(80vw + 20px);
         margin: 50px 10vw 0 10vw;
       }
       .que, .answers, .comments{
         width: 80vw;
         border-radius: 0;
       }
       .comments{
         padding: 10px;
       }
}

@media only screen and (max-height: 600px){
       .sideBar{
           overflow-y: scroll;
       }
}

/* scroll bar */
::-webkit-scrollbar{
  width: 5px;
  background-color: #BC8CF2;
}

::-webkit-scrollbar-thumb{
   background: linear-gradient(to bottom,#203239,#141E27);
   border-radius: 5px;
   cursor: pointer;
}
