:root{
    --input-color: #334756;
    --input-font: 1.2rem;
}

body{
   width: 100vw;
   height: 100vh;
   margin: 0;
   background-color: black; /*#115B68*/
   overflow: hidden;
}

.signUpInner{
  width: 100vw;
  height: 100%;
  z-index: 1;
  display: flex;
  position: relative;
}

.title{
  color: white;
  padding-left: 10%;
}

.title h1{
  font-family: Comfortaa, cursive;
  font-size: 10rem;
}

.title h2{
  font-size: 4rem;
  font-family: 'Syncopate', sans-serif;
  width: 50%;
}

.msg{
  color: white;
}

.newAccount{
   position: absolute;
   right: 10%;
   top: 20%;
}

.newAccount button{
  font-size: 1.4rem;
  border: 0;
  border-radius: 5px;
  height: 50px;
  color: #1A1A40;
  background-color: #92A9BD;
  transition: all 1s;
}

.newAccount button:hover{
  background-color: #166892;
  color: white;
  cursor: pointer;
}

.newAccount button:active{
  background-color: #E60965;
}


input{
  font-size: var(--input-font);
  margin-bottom: 12px;
  width: 300px;
  height: 3.2rem;
  border-radius: 5px;
  background-color: var(--input-color);
  opacity: 0.5;
  color: white;
  padding: 0;
  border-width: 0;
  /* border-left-width: 20px; */
  border-left-color: var(--input-color);
  border-color: var(--input-color);
  border-style: solid;
  box-shadow: 3px 5px 10px black;
  padding-left: 10px;
}

input::placeholder{
  color: white;
}

/* Background */

.circle{
  background:  #082032;  /*#072227*/
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

.circle:nth-child(1){
  width: 378px;
  height: 378px;
  left: 0;
  top: 45%;
}

.circle:nth-child(2){
  width: 255px;
  height: 255px;
  left: -5%;
  top: -3%;
}

.circle:nth-child(3){
  width: 45px;
  height: 45px;
  left: 15%;
  top: 8%;
}

.circle:nth-child(4){
  width: 148px;
  height: 148px;
  left: 30%;
  top: 1%;
}

.circle:nth-child(5){
  width: 311px;
  height: 311px;
  left: 50%;
  top: -3%;
}

.circle:nth-child(6){
  width: 273px;
  height: 273px;
  right: -4%;
  top: -3%;
}

.circle:nth-child(7){
  width: 176px;
  height: 164px;
  left: 44%;
  top: 43%;
}

.circle:nth-child(8){
  width: 218px;
  height: 218px;
  left: 40%;
  bottom: -3%;
}

.circle:nth-child(9){
  width: 130px;
  height: 130px;
  left: 70%;
  bottom: 6%;
}

.circle:nth-child(10){
  width: 34px;
  height: 34px;
  right: 5%;
  bottom: 5%;
}
