:root{
    --input-color: #334756;
    --input-font: 1.2rem;
}

body{
   width: 100vw;
   height: 100vh;
   margin: 0;
   background-color: black; /*#115B68*/
   overflow: hidden;
}

.signUpInner{
  width: 100vw;
  height: 100%;
  z-index: 1;
  display: flex;
  position: relative;
}

.title{
  color: white;
  padding-left: 10%;
}

.title h1{
  font-family: Comfortaa, cursive;
  font-size: 10rem;
}

.title h2{
  font-size: 4rem;
  font-family: 'Syncopate', sans-serif;
  width: 50%;
}

.msg{
  color: white;
}

.newAccount{
   position: absolute;
   right: 10%;
   top: 20%;
}

.newAccount button{
  font-size: 1.4rem;
  border: 0;
  border-radius: 5px;
  height: 50px;
  color: #1A1A40;
  background-color: #92A9BD;
  transition: all 1s;
}

.newAccount button:hover{
  background-color: #166892;
  color: white;
  cursor: pointer;
}

.newAccount button:active{
  background-color: #E60965;
}


input{
  font-size: var(--input-font);
  margin-bottom: 12px;
  width: 300px;
  height: 3.2rem;
  border-radius: 5px;
  background-color: var(--input-color);
  opacity: 0.5;
  color: white;
  padding: 0;
  border-width: 0;
  /* border-left-width: 20px; */
  border-left-color: var(--input-color);
  border-color: var(--input-color);
  border-style: solid;
  box-shadow: 3px 5px 10px black;
  padding-left: 10px;
}

input::placeholder{
  color: white;
}

/* Background */

.circle{
  background:  #082032;  /*#072227*/
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  transition: all 1s;
}

.circle:nth-child(1){
  width: 20rem;
  height: 20rem;
  left: 0;
  top: 45%;
}

.circle:nth-child(2){
  width: 15rem;
  height: 15rem;
  left: -5%;
  top: -3%;
}

.circle:nth-child(3){
  width: 3rem;
  height: 3rem;
  left: 15%;
  top: 8%;
}

.circle:nth-child(4){
  width: 10rem;
  height: 10rem;
  left: 30%;
  top: 1%;
}

.circle:nth-child(5){
  width: 17rem;
  height: 17rem;
  left: 50%;
  top: -3%;
}

.circle:nth-child(6){
  width: 18rem;
  height: 18rem;
  right: -4%;
  top: -3%;
}

.circle:nth-child(7){
  width: 10rem;
  height: 10rem;
  left: 44%;
  top: 43%;
}

.circle:nth-child(8){
  width: 13rem;
  height: 13rem;
  left: 40%;
  bottom: -3%;
}

.circle:nth-child(9){
  width: 8rem;
  height: 8rem;
  left: 70%;
  bottom: 6%;
}

.circle:nth-child(10){
  width: 4rem;
  height: 4rem;
  right: 5%;
  bottom: 5%;
}

@media only screen and (max-width: 1200px){

       .circle:nth-child(1){
         width: 15rem;
         height: 15rem;
       }

       .circle:nth-child(2){
         width: 10rem;
         height: 10rem;
       }

       .circle:nth-child(4){
         width: 7rem;
         height: 7rem;
       }

       .circle:nth-child(6){
         width: 13rem;
         height: 13rem;
       }

       .circle:nth-child(7){
         width: 6rem;
         height: 6rem;
       }

       .circle:nth-child(8){
         width: 10rem;
         height: 10rem;
       }
}

@media only screen and (max-width: 920px){

       .title h1{
         font-size: 7rem;
       }

       .title h2{
          font-size: 3rem;
       }

       .circle:nth-child(6){
          width: 10rem;
          height: 10rem;
       }

       .circle:nth-child(5){
         width: 13rem;
         height: 13rem;
       }

       input{
         --input-font: 1rem;
         width: 220px;
         height: 2.5rem;
       }

       .newAccount button{
         font-size: 1.1rem;
         height: 35px;
       }
}

@media only screen and (max-width: 780px){

       .circle:nth-child(3){
               width: 1rem;
               height: 1rem;
               left: 20%;
       }

       .circle:nth-child(10){
              right: 2%;
              width: 3rem;
              height: 3rem;
       }

       .circle:nth-child(5){
              width: 10rem;
              height: 10rem;
       }

       .circle:nth-child(6){
              width: 8rem;
              height: 8rem;
       }

}


@media only screen and (max-height: 585px){

    body{
      overflow: visible;
    }

    .title h1{
      font-size: 7rem;
    }

    .title h2{
       font-size: 3rem;
    }

    input{
      --input-font: 1rem;
      width: 220px;
      height: 2.5rem;
    }

    .newAccount button{
      font-size: 1.1rem;
      height: 35px;
    }
}

@media only screen and (max-height: 420px){

       .circle:nth-child(8){
              width: 7rem;
              height: 7rem;
       }

       .newAccount{
           top: 10%;
       }

       .title h1{
          margin-bottom: 0;
       }

       .title h2{
           margin-top: 20px;
           font-size: 2rem;
       }
}

@media only screen and (max-height: 405px){

       .newAccount{
         top: 5%;
       }

       input{
         --input-font: .8rem;
         width: 200px;
         height: 2rem;
       }

       .newAccount button{
         font-size: 1rem;
         height: 30px;
       }

}

@media only screen and (max-width: 420px){

       .circle{
         display: none;
       }

       .newAccount{
         left: 10%;
         top: 40%;
       }

       .title h1{
         font-size: 6rem;
         margin-bottom: 0;
       }

       .title h2{
         font-size: 1.6rem;
       }
}

@media only screen and (max-height: 670px){

      .newAccount{
        top: 50%;
      }
      input{
        --input-font: .6rem;
        width: 200px;
        height: 1.6rem;
      }

      .newAccount button{
        font-size: .8rem;
        height: 2rem;
      }
}
