html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  min-height: 100%;
  background-color: #FF4D00;
  /* overflow-y: hidden; */
}

::selection{
  background: #FF4D00;
}

:root{
  --input-color: #ED9D40;
  --heading-size: 10rem;
  --input-font: 1.2rem;
  --login-font: 1.6rem;
}

button{
  font-family: 'El Messiri', sans-serif;
}

h1{
  margin: 0;
  font-family: Comfortaa, cursive;
  font-size: var(--heading-size);
  color: white;
}

h2{
  color: white;
}
.bg{
  background-image: url("/images/noPat.png") /* no-repeat center center fixed */;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.main{
  display: flex;
  /* flex-direction: column-reverse; */
  position: relative;
  top: 30%;
  left: 10%;
}

.login{
  position: absolute;
  right: 300px;
}

input{
  font-size: var(--input-font);
  margin-bottom: 12px;
  width: 300px;
  height: 3.2rem;
  border-radius: 5px;
  background-color: var(--input-color);
  opacity: 0.5;
  color: white;
  padding: 0;
  border-width: 0;
  /* border-left-width: 20px; */
  border-left-color: var(--input-color);
  border-color: var(--input-color);
  border-style: solid;
  box-shadow: 3px 5px 10px black;
  padding-left: 10px;
}

input::placeholder{
  color: white;
}

.loginButton{
   display: inline-block;
   text-align: center;
   text-decoration: none;
   font-size: var(--login-font);
   padding: 3px 10px;
   border-radius: 5px;
   border: 1px solid white;
   width: 130px;
   height: 40px;
   background-color: #E8E8A6;
   color: #FF4D00;
   font-family: 'El Messiri', sans-serif;
   cursor: pointer;
   transition: all 1s;
}

.loginButton:hover{
  color: white;
  background-color: #FF4D00;
}

.google{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #E8E8A6;
    background-color: #E8E8A6;
    color: white;
    font-family: 'El Messiri', sans-serif;
    cursor: pointer;
    padding: 10px 10px;
    color: #FF4D00;
    transition: all 1s;
}

.google:hover{
   background-color: #FF4D00;
   color: #E8E8A6;
}

.signUp{
  display: flex;
  color: white;
}

.signUp button{
    background-color: #FF4D00;
    border-radius: 19px;
    border-color: white;
    border-width: 0.2px;
    font-size: 1.4rem;
    height: 50px;
    width: 130px;
    padding: 0;
    color: white;
    position: relative;
    top: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'El Messiri', sans-serif;
    transition: all 1s;
}

.signUp button:hover{
   background-color: #E8E8A6;
   color: #FF4D00;
}

@media only screen and (max-width: 1000px){
       .main{
         --heading-size: 8rem;
         --input-size: 1rem;
         --login-font: 1.2rem;
       }

       input{
          height: 2.6rem;
          width: 230px;
          font-size: var(--input-size);
       }

       .loginButton{
          display: inline-block;
          text-align: center;
          text-decoration: none;
          font-size: var(--login-font);
          padding: 3px 10px;
          border-radius: 5px;
          border: 1px solid white;
          width: 90px;
          height: 30px;
       }
       .google{
           font-size: 1.6rem;
           width: 220px;
           height: 30px;
       }

       hr{
         visibility: hidden;
       }

       .signUp button{
           border-radius: 19px;
           border-width: 0.2px;
           font-size: 1rem;
           height: 30px;
           width: 80px;
           margin-top: 10px;
           /* position: absolute; */
           /* top: 10px; */
       }

       .login{
          right: 100px;
       }
}

@media only screen and (max-width: 640px){
        .main{
          --heading-size: 6rem;
        }

       .login{
         position: absolute;
         top: 200px;
         right: 0;
         left: 5%;
       }
}

@media only screen and (max-width: 305px){
      .main{
        --input-size: 0.75rem;
        --login-font: 1rem;
      }
     .login{
        position: absolute;
        left: 0.1%;
     }
     input{
        height: 2.3rem;
        width: 200px;
     }

      .loginButton{
        width: 70px;
        height: 20px;
     }
     .google{
         font-size: 1.3rem;
         width: 170px;
         height: 20px;
     }

     .signUp button{
         font-size: 0.6rem;
         height: 20px;
         width: 50px;
         position: relative;
         right: 10px;
     }
     .signUp p{
       font-size: 1rem;
     }
}
