<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>loop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">
    <link href="query.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
     <div class="sideBar">
        <h1>Query</h1>
     </div>
     <div class="queryPost">
          <div class="que">
               What is the loudest sound on earth?
               <div class="postedBy">
                 <img class="avatar" src="D:/loop/public/images/avatars/1.png" />
                 <div class="userData">
                   <p>Username</p>
                   <p>MailID</p>
                 </div>
               </div>
               <button class="follow" title="Save Post">+</button>
          </div>
          <div class="answers">
            Good question.

            Some may answer “an eruption”, some may say “a bomb”, and the like. They all sound reasonable (no pun intended).

            However, I do have a slightly different idea about loud sounds and corresponding sound makers. It goes with this rank:
          </div>
     </div>
  </body>
</html>
